body {
  background-color: #3299ee;
  font-family: 'Rubik', sans-serif;
}

a {
  color: transparent;
  text-decoration: none;
  padding:3px 10px;
  border-radius: 5px;
  white-space: nowrap;
}

a:hover {
  background-color: rgba(255,255,240,0.1);
}

#content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0px 55px;
    text-shadow: -4px 0px 3px rgba(255,50,70,0.15), 0px 0px 2px rgba(255,255,240,0.95), 2px 2px 2px rgba(60,120,155,0.4), -4px 0px 3px rgba(255,50,70,0.2);
}

#about {
  max-width: 1200px;
}


.bigText {
  font-size: 50px;
  color: transparent;
  line-height:1.2em;
  font-weight:bold;
  padding-bottom: 10px;
}

.smallText {
  font-size: 25px;
  color: transparent;

  line-height:1.5em;
  margin-top: 30px;
}


@media screen and (max-width: 740px) and (orientation: landscape) {
  .bigText {
    font-size: 40px;;
  }
  .smallText {

  }
  #content {
    text-shadow: -4px 0px 2px rgba(255,50,70,0.15), 0px 0px 1px rgba(255,255,240,0.95), 1px 1px 1px rgba(60,120,155,0.4), -4px 0px 3px rgba(255,50,70,0.2)
  }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
  .bigText {
    font-size: 30px;

  }
  .smallText {
    font-size: 20px;
  }
}

@media screen and (max-height: 400px) {
  #content {
    padding: 20px;
    display: block;
    text-shadow: -4px 0px 2px rgba(255,50,70,0.15), 0px 0px 1px rgba(255,255,240,0.95), 1px 1px 1px rgba(60,120,155,0.4), -4px 0px 3px rgba(255,50,70,0.2)
  }
}

@media screen and (max-width: 500px) and (orientation: portrait) {
  .bigText {
    font-size: 35px;
  }
  .smallText {
    font-size: 20px;
  }
  #content {
    padding: 20px;
    display: block;
    text-shadow: -4px 0px 2px rgba(255,50,70,0.15), 0px 0px 1px rgba(255,255,240,0.95), 1px 1px 1px rgba(60,120,155,0.4), -4px 0px 3px rgba(255,50,70,0.2)
}
}

/*
@media screen and (max-width: 700px) and (orientation: landscape) {
    

  .bigText {
    font-size: 28px;
  }
  .smallText {
    font-size: 20px;
  }
}



@media screen and (max-width: 430px) and (orientation: portrait) {
  .bigText {
    font-size: 40px;
    text-shadow: -2px 0px 2px rgba(255,50,70,0.15), 0px 0px 2px rgba(255,255,240,0.95), 2px 2px 1px rgba(60,120,155,0.7), -2px 0px 2px rgba(255,50,70,0.2);
  }
  .smallText {
    font-size: 25px;
  }
}

@media screen and (max-width: 350px) and (orientation: portrait) {
  
  .bigText {
    font-size: 30px;
    text-shadow: -2px 0px 2px rgba(255,50,70,0.15), 0px 0px 2px rgba(255,255,240,0.95), 2px 2px 1px rgba(60,120,155,0.7), -2px 0px 2px rgba(255,50,70,0.2);
  }
  .smallText {
    font-size: 20px;
  }
}
*/





