  <div id="bits-page">
    <div class="bits-description">
      <div class="eyebrow">Bits & Pieces</div>
      <h1>A stash of bite-sized creative experiments blending design, code, art, ...</h1>
    </div>

    <div class="bits-grid">
      <a href="https://rockorpop.com" target="_blank" rel="noopener noreferrer" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-music"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-share-alt"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/rockorpop.jpg" alt="rockorpop.com">
        </div>
        <div class="bit-card-content">
          <h2>rockorpop.com</h2>
          <p>Create and share your own mixtapes.</p>
        </div>
      </a>

      <a href="https://dxc4.com" target="_blank" rel="noopener noreferrer" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-chess"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-server"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/dxc4.png" alt="dxc4.com">
        </div>
        <div class="bit-card-content">
          <h2>dxc4.com</h2>
          <p>Server less chess analysis.</p>
        </div>
      </a>

      <a href="https://kohlhofer.com/midiVol/" target="_blank" rel="noopener noreferrer" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-music"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-desktop"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/midivol.png" alt="MIDI Volume Control">
        </div>
        <div class="bit-card-content">
          <h2>MIDI Volume Control</h2>
          <p>Control your Mac's system and music volume.</p>
        </div>
      </a>

      <a href="lorenz/index.html" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-square-root-alt"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/lorenz.png" alt="Lorenz Attractor">
        </div>
        <div class="bit-card-content">
          <h2>Lorenz Attractor</h2>
          <p>An visualization of chaotic behavior.</p>
        </div>
      </a>

      <a href="city/index.html" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-paint-brush"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/city.png" alt="City Generator">
        </div>
        <div class="bit-card-content">
          <h2>City</h2>
          <p>Hand-drawn cityscapes, procedurally generated. </p>
        </div>
      </a>

      <a href="shader/index.html" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-paint-brush"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/shader.png" alt="Shader">
        </div>
        <div class="bit-card-content">
          <h2>Shader</h2>
          <p>Slowly evolving shader used on the landing page of kohlhofer.com.</p>
        </div>
      </a>

      <a href="mindmap/" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-project-diagram"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/mindmap.png" alt="Mindmap">
        </div>
        <div class="bit-card-content">
          <h2>D3 Mindmap</h2>
          <p>A fun D3 powered mindmapping tool I made as proof of concept.</p>
        </div>
      </a>

      <a href="https://plasticshore.com" target="_blank" rel="noopener noreferrer" class="bit-card">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-microscope"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-bullhorn"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/plasticshore.jpg" alt="Plastic Shore">
        </div>
        <div class="bit-card-content">
          <h2>plasticshore.com</h2>
          <p>Putting a long-held domain to good use.</p>
        </div>
      </a>

      <a href="hex-map/" class="bit-card" target="_blank" rel="noopener noreferrer">
        <div class="bit-card-status-icons">
          <div class="bit-card-status-icon"><i class="fas fa-code"></i></div>
          <div class="bit-card-status-icon"><i class="fas fa-gamepad"></i></div>
        </div>
        <div class="bit-card-image">
          <img src="images/bits/hex-map.jpg" alt="Hex Map">
        </div>
        <div class="bit-card-content">
          <h2>Hex Map</h2>
          <p>A nostalgic re-visit of the Weewar days.</p>
        </div>
      </a>
    </div>
  </div>
