  <div id="map-page">
    <div id="map-container"></div>
    <div id="tooltip"></div>
    <div class="map-indicator">
      <span>drag to pan · scroll to zoom</span>
    </div>
    <div id="legend">
      <div class="legend-item">
        <div class="legend-color lived"></div>
        <span>Lived</span>
      </div>
      <div class="legend-item">
        <div class="legend-color visited"></div>
        <span>Visited</span>
      </div>
      <div class="legend-item">
        <div class="legend-color unvisited"></div>
        <span>Not Visited</span>
      </div>
      <div class="legend-item">
        <div class="legend-dot"></div>
        <span>Visited City</span>
      </div>
      <div class="legend-item">
        <div class="legend-dot path"></div>
        <span>Major Move</span>
      </div>
      <div class="legend-item">
        <div class="legend-line"></div>
        <span>Moved</span>
      </div>
    </div>
  </div>
