<div class="container">
  <div class="row">
    
    <div class="col-sm-6 col-sm-push-6">
      <div class="embed-container">
        <iframe src="//www.youtube.com/embed/a7r088Y-C7E?rel=0" frameborder="0" allowfullscreen></iframe>
      </div>
      <img src="images/projects/enhancedwars/screen-shots-e.png" class="img-responsive" />
      <img src="images/projects/enhancedwars/screen-shots-a.png" class="img-responsive" />
      <p></p>
    </div>
    <div class="col-sm-5 col-sm-pull-5">
      <div class="project-page-intro">
        <p>Our goal with Enhanced Wars was to build a fast, fun and accessible turn-based strategy game. A game that focuses on battle and tactics over troop build up and resource hoarding.</p>
      </div>
      <div class="project-page-description">
        <p>We iterated the game's concept and design first on paper and then in software with a small community of players. A survey informed the mix of features to target an audience that would love the game.  Eventually we launched a substantial playable demo along side a Kickstarter campaign.</p>
        <p>The purpose of the Kickstarter campaign was to fund the development but also to validate that there was a sufficient market for Enhanced Wars. Due to our extensive preparation the campaign took off quickly surpasing our expectations initially - however it did not translate into oganic growth and therefor failed to meet our validation goal.</p>
        <p>We ceased development in August 2013.</p>
        <p>You can <a href="http://www.ign.com/videos/2013/05/23/enhanced-wars-developer-demo" target="new">watch a (very!) early game on IGN</a>.</p>
      </div>
    </div>
    <div class="col-sm-1 col-sm-pull-11">
      <img src="images/projects/enhancedwars/artillery fire.gif" class="img-responsive" />
    </div>
  </div>
</div>

