<div class="container">
  <div class="row">
    
    <div class="col-md-4 col-sm-4">
      <div class="project-page-intro">
        <p>The irrepressible.info campaign aimed to raise awareness of internet censorship and the role of big businesses in helping repressive governments to control the flow of information to their people.</p>
        <p>Soda created the site for Amnesty International UK.</p>
      </div>
    </div>

    

    <div class="col-md-4 col-sm-5">
      <div class="project-page-description">
        <p>Following the revelation that Google was censoring its search in China the original idea behind irrepressible.info was twofold: to compare search results and catalog censored content in different countries and to allow people to actively participate and take action against online repression by republishing and spreading this content.</p>
        <p>Users could put a badge onto their own websites, where it showed excerpts from censored sites around the world. The badge linked back to irrepressible.info where visitors could learn more about the censored site in question and the campaign itself.</p>
      </div>
    </div>

    <div class=" col-md-3 col-sm-3 col-md-offset-1">
      <div class="svg-container">
        <img src="images/projects/irrepressible/speaker.svg" class="img-responsive" />
      </div>
    </div>

    

  </div>
</div>