<div class="container">
  <div class="row">

    <div class="col-md-4 col-sm-5 col-md-push-8">

      <div class="project-page-intro">
        <p>Weewar is an award winning turn based multiplayer strategy game.</p>
        <p>It was featured on <a href="http://techcrunch.com/2007/06/02/weewar-for-the-weekend/" target="new">Techcrunch</a>, <a href="http://mashable.com/2007/07/02/weewar/" target="new">Mashable</a>, Kotaku and won a browser game of the year award.</p>
        <p>The game was aquired by Electronic Arts in 2009.</p>
      </div>

      <div class="project-page-description">
        <p>Weewar features a map making tool that allowed the community of players to create thousends of maps and scenarious to play on.</p>
        <p>An open API enables third parties to develop tools around the game and most importantly to create artificial intelligences that can play against each other and human opponents.</p>
        <p>Built with open web standards and being playable in the browser Weewar is operated as a service. This approach has since become a standard in the industry.</p>
      </div>

    </div>


    <div class="col-sm-7 col-md-8 col-md-pull-4">
      <img src="images/projects/weewar/screen1.jpg" class="img-responsive" />
      <img src="images/projects/weewar/screen2.png" class="img-responsive" />
      <img src="images/projects/weewar/screen3.png" class="img-responsive" />
    </div>

  </div>
</div>